[Unit]
Description=Mailbox synchronization service
RefuseManualStart=no
RefuseManualStop=yes

[Service]
Type=oneshot
ExecStart=/usr/bin/zsh -c 'mbsync -c .config/isync/mbsyncrc -a -q'
StandardOutput=syslog
StandardError=syslog

[Install]
WantedBy=mbsync.timer
